<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <h1>Cadastro</h1>

    <form th:action="@{/cadastroCliente}" method="post" th:object="${cliente}">
        Nome: <input type="text" name="nome" th:field="*{nome}"> <br>
        Email: <input type="text" name="email" th:field="*{email}"> <br>
        <input type="submit" value="Cadastrar">
    </form>

    <a href="@{/}">Voltar para o menu</a>
    
</body>
</html>